@import 'react-slideshow-image/dist/styles.css';

.indicator {
    cursor: pointer;
    padding: 4px;
    text-align: center;
    margin-top: -1000;
    z-index: 1;
    width: 40px;
    background: white;
    opacity: 0.4
  }
  .indicator:first-child{
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
  }
  .indicator:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
  .react-slideshow-container{
   
  }
  .LandingPage{
    margin-bottom: 80px;
}
  .react-slideshow-container+ul.indicators{
    margin-top: -40px;
  }
  
  .indicator.active {
    background: white;
    opacity: 0.9
  }
  .slide{
    height : 80vh;
  }