.ImgSlide{
    object-fit: cover;
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1) */
}
.ImgContainer {
    position: relative;
    display: flex;
    align-items: start;
}
.LandingDesc{
    position: absolute;
    color: white;
    height: 50%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    margin-top: 5%; 
}
.LandingDesc .P1{
    font-size: 20px;
    opacity: 0.8;
    font-weight: 200;
}
.LandingDesc .P2{
    font-size: 40px;
    text-wrap: wrap;
    width: 60%;
    font-weight: 200;
}

.ShopperBtn{
    border: solid 1px white;
    color: black;
    padding: 8px 10px;
    text-align: center;
    border-radius: 8px;
    background: white;
    width: 60%;
    margin-top: 20px
}

